<html>
<body>
	<form method="post" action="{% url 'newPasswordAction'%}">
	{% csrf_token %}
	<table>
	<input type="hidden" name="username" value="{{data}}">
	<tr>
	<td>Name</td>
	<td><input type="text" name="name"></td>
	</tr>

	<tr>
	<td>DOB</td>
	<td><input type="date" name="dob"></td>
	</tr>

	<tr>
	<td>Country</td>
	<td><select name="country">
		<option value="">--select--</option>
		<option value="india">India</option>
		<option value="america">America</option>
		<option value="japan">Japan</option>
	</select></td>
	</tr>
	
	<tr>
	<td><input type="submit" value="change password"></td>
	</tr>
	</table>
	</form
</body>
</html>