<html>
	<body>
		<form method="post" action="{% url 'sellerUpdateAction' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{% for v in sell %}
		<tr>
			<td><input type="hidden" name  ="id"  value="{{v.id}}"></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input typr="text"  name="name"  value ="{{v.name}}"></td>
		</tr>
		<tr>
			<td>Address</td>
			<td><textarea name="address" cols='21' row='4'>{{v.address}}</textarea></td>
		</tr>
		<tr>
			<td>Gender</td>
			{%  if  v.gender  == "male"  %}
			<td><input type = "radio" name = "gender"  checked = "true"  value = "male">Male
			<input type = "radio" name = "gender"  value =  "female">Female</td>
			{% else %}
			<td><input type = "radio"  name = "gender"  value = "male" >Male
			<input type = "radio"  name = "gender"  value = "female"  checked = "true">Female</td>
			{% endif %}
		</tr>
		<tr>	
			<td>DOB</td>
			<td><input type="date" name="dob" value="{{v.dob}}"><td>
		</tr>
		<tr>
			<td>Country<td>
			<select name="country">
			<option value="{{v.id}}">{{v.country}}</option>
			<option value="india">India</option>
			<option value="america">America</option>
			<option value="japan">Japan</option>
			</select></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><input type="text" name="phonenumber"  value="{{v.phonenumber}}"></td>
		</tr>
		<tr>
			<td>Username</td>
			<td><input type="text"  name="username"  value="{{v.username}}"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password"  name="password"  value="{{v.password}}"></td>
		</tr>
		<tr>
			<td>Photo</td>
			<td><input type="file" name="file" ></td>
			<td><img src="{{v.image.url}}" height="50px" width="100px" alt="nopic"></td>
		</tr>
		<tr>
			<td><input type="submit" value="Edit"></td>
		</tr>
			{% endfor %}
		</table>
		</form>
	</body>
</html>